---
"use client";
import "@styles/global.css";
import { HoverCardComponent } from "@components/hovercard-astro";
import Layout from "@layouts/Layout.astro";
import { getCollection, getEntry, render } from "astro:content";
import json from "@data/homepage.json";
import dayjs from "dayjs";
import YearMonthDate from "@components/year-month-date.astro";

const projects = await getCollection("projects");
const filteredprojects = projects.slice(0, 3);

const experiences = (await getCollection("experiences"))
  .sort((a, b) => b.data.startdate?.valueOf() - a.data.startdate?.valueOf())
  .slice(0, 3);
---

<Layout>
  <div id="main" class="relative lg:bg-gray-100 bg-gray-100 h-full">
    <section class="md:flex m-0">
      <div
        class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[3%] lg:bg-gray-100 bg-gray-100 m-0"
      >
        <div
          class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
        >
          <div class="avatar mt-[15%] mb-[10%] lg:pt-[30%] lg:mb-[15%]">
            <div class="mask-radial-at-center">
              <img
                class="rounded-full w-2xs h-2xs"
                src="https://raw.githubusercontent.com/t2vi/vinnymarquez.dev.cdn/main/uploads/dp.webp"
                alt="Default Pic"
                aria-label="Default Pic"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="px-[7.5%] md:px-[5.5%] lg:pt-[15%] lg:bg-gray-50 bg-gray-100 md:w-[65%] lg:pb-[15%]"
      >
        <h6
          class="font-medium text-gray-500 mt-[0%] md:mt-[10%] lg:mt-[2%] md:text-xl lg:text-3xl"
        >
          vinny
        </h6>
        <h2
          class="font-bold text-indigo-500 text-lg md:text-4xl lg:text-6xl uppercase"
        >
          Marquez
        </h2>
        <p
          class="font-normal text-gray-500 text-md md:text-sm lg:text-2xl mt-8 mb-16"
        >
          SDET, Automation Test Engineer, Web Developer
        </p>
        <div class="divider"></div>
        <div class="md:flex m-0">
          <div class="mb-3 md:mb-0 md:shrink-0 md:w-[25%]">
            <h6 class="font-bold text-gray-500 text-base md:text-xs lg:text-lg">
              Location
            </h6>
            <HoverCardComponent
              client:load
              btnLabel="Melbourne, AU"
              icon="@/assets/icons/au-flag.png"
              url=""
              header="Melbourne, AU"
              description="Moved via a job opportunity"
              dateDescription="Migrated in 2022"
            />
          </div>
          <div class="mb-3 md:mb-0 md:shrink-0 md:w-[25%]">
            <h6 class="font-bold text-gray-500 text-base md:text-xs lg:text-lg">
              Linkedin
            </h6>
            <HoverCardComponent
              client:load
              btnLabel="@vinnymarquez"
              icon=""
              url="https://www.linkedin.com/in/vinnymarquez/"
              header="Linkedin"
              description="Test"
              dateDescription="Member since 2010"
            />
          </div>
          <div class="mb-3 md:mb-0 md:shrink-0 md:w-[25%]">
            <h6 class="font-bold text-gray-500 text-base md:text-xs lg:text-lg">
              Github
            </h6>
            <HoverCardComponent
              client:load
              btnLabel="@t2vi"
              icon=""
              url="https://www.linkedin.com/in/vinnymarquez/"
              header="@t2vi"
              description="Mostly personal projects, some work related."
              dateDescription="Joined 2010"
            />
          </div>
          <div class="mb-3 md:mb-0 md:shrink-0 md:w-[25%]">
            <h6 class="font-bold text-gray-500 text-base md:text-xs lg:text-lg">
              Email
            </h6>
            <HoverCardComponent
              client:load
              btnLabel="me@vinnymarquez.dev"
              icon=""
              url="mailto:me@vinnymarquez.dev"
              header=""
              description="Please don't send me spam!"
              dateDescription=""
            />
          </div>
        </div>
      </div>
    </section>
    <section class="lg:flex m-0">
      <div
        class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[5%] lg:bg-gray-200 bg-gray-50 m-0"
      >
        <div
          class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
        >
          <h2 class="font-bold text-base">About Me</h2>
          <div>What I am all about.</div>
        </div>
      </div>
      <div
        class="px-[7.5%] pb-[5%] lg:px-[5.5%] lg:pt-[6.5%] lg:bg-gray-100 bg-gray-50 lg:w-[65%] text-gray-500"
      >
        <Fragment set:html={json.aboutMe} />
      </div>
    </section>
    <section class="lg:flex m-0">
      <div
        class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[5%] lg:bg-gray-100 bg-gray-100 m-0"
      >
        <div
          class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
        >
          <h2 class="font-bold text-base">Work Experience</h2>
          <div>{new Date().getFullYear() - 2007} years in IT.</div>
        </div>
      </div>
      <div
        class="px-[7.5%] pb-[5%] lg:px-[5.5%] lg:pt-[6.5%] lg:bg-gray-50 bg-gray-100 lg:w-[65%]"
      >
        <ol
          class="relative text-gray-500 border-s border-gray-200 dark:border-gray-700 dark:text-gray-400"
        >
          {
            experiences.map((experience) => (
              <li class="mb-10 ms-6">
                <span
                  class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-1 ring-white
              dark:ring-gray-900 dark:bg-gray-700"
                >
                  <img
                    src={experience.data.icon?.replace("public", "")}
                    alt="Planit Logo"
                    class="rounded-full h-8 w-8 border border-gray-600"
                  />
                </span>
                
                <h2 class="font-medium leading-tight">
                  {experience.data.roles.map((role, index, array) => (
                    <span class="text-gray-800">{role}{(array.length-1 != index) ? ` · ` : ``} </span>
                  ))}
                </h2>
                <h3>
                  {experience.data.company} · {experience.data.location},{" "}
                  {experience.data.country}
                </h3>
                <p class="text-sm">{experience.data.role}</p>
                <p class="text-sm">
                  <YearMonthDate date={experience.data.startdate} /> -{" "}
                  <YearMonthDate date={experience.data.enddate} />
                </p>
              </li>
            ))
          }
        </ol>
        <a class="btn mt-5" href="/resume">View full resume</a>
      </div>
    </section>
    <section class="lg:flex m-0" id="projects">
      <div
        class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[5%] lg:bg-gray-200 bg-gray-50 m-0"
      >
        <div
          class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
        >
          <h2 class="font-bold text-base">Projects</h2>
          <div>Stuff I've been working on.</div>
        </div>
      </div>
      <div
        class="px-[7.5%] pb-[5%] lg:px-[5.5%] lg:pt-[6.5%] lg:bg-gray-100 bg-gray-100 lg:w-[65%] text-gray-500"
      >
        {
          filteredprojects.map((project) => (
            <a href={project.id}>
            <div class="max-w-sm w-full lg:max-w-full lg:flex mb-5">
              <div
                class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
                style={`background-image: url(${project.data.heroimage?.replace("public", "")})`}
                title="Woman holding a mug"
              />
              <div class="border-r border-b border-l border-gray-100 lg:border-l-0 lg:border-t lg:border-gray-100 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="mb-8">
                  <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset float-right">
                    {project.data.status}
                  </span>
                  <div class="text-gray-600 font-bold text-xl mb-2">
                    {project.data.title}
                  </div>
                  <p class="text-gray-500 text-base">
                    {project.data.description}
                  </p>
                </div>
                <div class="flex items-center">
                  <div class="join">
                    {project.data.tags?.map((tag) => (
                      <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset">
                        {tag}
                      </span>
                    ))}
                  </div>
                </div>
              </div>
            </div>
            </a>
          ))
        }
        <a class="btn mt-5" href="/projects">View all projects</a>
      </div>
    </section>
    <section class="lg:flex m-0" id="contact-me">
      <div
        class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[5%] lg:bg-gray-100 bg-gray-50 m-0"
      >
        <div
          class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
        >
          <h2 class="font-bold text-base">Contact Me</h2>
          <div>Please don't send me spam.</div>
        </div>
      </div>
      <div
        class="px-[7.5%] pb-[5%] lg:px-[5.5%] lg:pt-[6.5%] lg:bg-gray-50 bg-gray-50 lg:w-[65%]"
      >
        <form
          class="form"
          action="https://formspree.io/f/manyzrbg"
          method="POST"
          data-netlify="true"
        >
          <div class="flex flex-col md:flex-row justify-between gap-5">
            <input
              type="email"
              placeholder="Your email address"
              class="input input-bordered w-full px-2 mt-4 py-2 placeholder-gray-300 placeholder-gray-300 focus:outline-none"
              name="email"
            />
          </div>
          <div>
            <textarea
              placeholder="Your Message"
              class="input input-bordered w-full px-2 mt-4 py-2 h-32 placeholder-gray-300 focus:outline-none"
              name="message"></textarea>
          </div>
          <button class="w-full mt-5 btn" type="submit">Submit</button>
        </form>
      </div>
    </section>
  </div>
</Layout>
